* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration:  none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --text-color: #fff;
    --bg-color: black;
    --main-color: rgb(0, 72, 255);

    --h1-font: 4rem;
    --h2-font: 2rem;
    --p-font: 1rem;
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: transparent;
    backdrop-filter: blur(10px);
    padding: 27px 17%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .50s ease;
}

.logo {
    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;
}

span {
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 500;
    margin: 15px 22px;
    transition: all .50s ease;
}

.navbar a:hover {
    color: var(--main-color)
}

section {
    padding: 70px 17% 60px;
}

.main {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 50), rgba(0, 0, 0, 0.3)), url(../MultiMed_ShoeSide/images/ShoeSide_Photo.jpg);
    background-size: cover;
}

.main h1 {
    font-size: var(--h1-font);
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: 6px;
    color: var(--text-color);
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.sypnosis {
    position: relative;
    height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 70), rgba(0, 0, 0, 0.3)), url(../MultiMed_ShoeSide/images/sypnosisBackground.jpg); */
    background-size: cover;
    margin-top: 100px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
}

.sypnosis img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.sypnosis h1{
    font-size: var(--h1-font);
    font-weight: 600;
    margin-bottom: 30px;
}

.casts h1 {
    text-align: center;
    margin-bottom: 30px;

    font-size: var(--h1-font);
    font-weight: 600;
}

::-webkit-scrollbar {
    height: 8px;
}

::-webkit-scrollbar-track {
    background: white;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb {
    background: rgba(42, 42, 42);
    border-radius: 25px;
}

.container {
    display: flex;
    gap: 12px;
    max-width: 300px;
    width: 100%;
    background: rgba(42, 42, 42);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
}

.container .card {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 12px;
    scroll-snap-align: start;
    /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1); */

}

.card .image {
    height: 150px;
    width: 150px;
    margin-bottom: 20px;

    padding: 4px;
    background: black;
    border-radius: 50%;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    margin-top: 4px;
    text-align: center;
}